**Python Basics**

Strings

In [1]:
print('Ambica Dasari')

Ambica Dasari

In [2]:
a='Ambica Dasari'
print(a)

Ambica Dasari

In [5]:
print(a[4])

c

In [7]:
a1='Ambica'
a2='Dasari'
print(a1+" "+a2)

Ambica Dasari

In [10]:
print('Ambica ' *5)

Ambica Ambica Ambica Ambica Ambica

In [16]:
print(a[0:4])
print(a[-4:-1])

Ambi
sar

In [18]:
print('Ambi' in a)
print('Dasa' in a1)

True
False

In [20]:
print(a.upper())
print(a.lower())

AMBICA DASARI
ambica dasari

In [25]:
name ='Ambica Dasari'
age=25
print('My name is {} and my age is {}.'.format(name,age))
print('My name is %s and my age is %d.' %(name,age))
print(f'My name is {name} and my age is {age}.  ')

My name is Ambica Dasari and my age is 25.
My name is Ambica Dasari and my age is 25.
My name is Ambica Dasari and my age is 25.

Numbers

In [30]:
print(11+25)
print(11*4)
type(4//2)
type(4/2)

36
44

float

In [34]:
2**2
2+5*9/3
(2+10)*(5+10)

180

In [35]:
n=11
print(n+n)

22

In [36]:
a=11
b=25
mean=(a+b)/2
print(mean)

18.0

Lists

In [42]:
my_list=[1,2,3,4]
my_list.append('Ambica')
my_list.append([11,22,33])
my_list.extend(['Kranthi','Bindu'])
my_list

[1, 2, 3, 4, 'Ambica', [11, 22, 33], 'Kranthi', 'Bindu']

Slicing

In [44]:
range(10)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
l=list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
l[0:10:2]
l[0::2]
l[::2]

[0, 2, 4, 6, 8]

In [51]:
l.insert(0,'Ambi')
l

['Ambi', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Dictionary

In [54]:
my_dict={'name':'Ambica','age':25}
my_dict['name']
my_dict['age']-2

23

In [56]:
my_new_dict={'name':['Ambica','Kranthi','Bindu'], 'age':[25,25,26]}
my_new_dict['name']

['Ambica', 'Kranthi', 'Bindu']

In [58]:
my_dict['age'] += 2
print(my_dict)

{'name': 'Ambica', 'age': 27}

In [62]:
my_new_dict['city']=['Hyderabad','Vizag','Vizag']
my_new_dict

{'name': ['Ambica', 'Kranthi', 'Bindu'],
 'age': [25, 25, 26],
 'city': ['Hyderabad', 'Vizag', 'Vizag']}

In [64]:
a={}
a['animal']=['dog','cat']
a

{'animal': ['dog', 'cat']}

Sets

In [74]:
x=[1,2,3,1,1,1,2,3,4,5,5,5,]
set(x)

{1, 2, 3, 4, 5}

In [75]:
x= set(x)
x.add(6)
x.add(3)
x

{1, 2, 3, 4, 5, 6}

Tuples

In [76]:
my_tuple=("apple", "banana", "cherry")
print(my_tuple[0])

apple

if else

In [ ]:
a=6
b=2
if a>b:
    print('a is greated than b')
else:
    print('b is greater than a')

a is greated than b

Loops

In [78]:
x= list(range(10))
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [80]:
for i in x:
    print(f"This is my {i} loop")

This is my 0 loop
This is my 1 loop
This is my 2 loop
This is my 3 loop
This is my 4 loop
This is my 5 loop
This is my 6 loop
This is my 7 loop
This is my 8 loop
This is my 9 loop

In [82]:
my_list=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(my_list)):
    if my_list[i]%2==0:
        print(f"{i} is an even number")
    else:
        print(f"{i} is an odd number")

0 is an odd number
1 is an even number
2 is an odd number
3 is an even number
4 is an odd number
5 is an even number
6 is an odd number
7 is an even number
8 is an odd number
9 is an even number

In [83]:
x=5
while x<15:
    print(f"{x} is less than 15")
    x=x+1

5 is less than 15
6 is less than 15
7 is less than 15
8 is less than 15
9 is less than 15
10 is less than 15
11 is less than 15
12 is less than 15
13 is less than 15
14 is less than 15

List Comprehensions

In [84]:
nums=[1,2,3,4,5,6,7,8,9,10]
even =[num for num in nums if num%2==0]
print(even)

[2, 4, 6, 8, 10]

In [85]:
odd_sq=[(num, num*num) for num in nums if num%2==1]
print(odd_sq)

[(1, 1), (3, 9), (5, 25), (7, 49), (9, 81)]

Exception Handling

In [86]:
try:
    x=1/0
except ZeroDivisionError:
    print("Divide by zero")
    print("Executed when exception occurs")
else:
    print("Executed when no exception occurs")
finally:
    print("Executed always")

Divide by zero
Executed when exception occurs
Executed always

File Handling

In [88]:
with open('my_file.txt', 'w') as f:
    f.write("This is my file \n")
    f.write("This is my second line \n")

In [89]:
import os 
print(os.path.abspath(os.curdir))

a:\DE

In [90]:
with open('my_file.txt', 'a') as f:
    f.write("This is the last line \n")

In [ ]:
with open('my_file.txt', 'r') as f:
    for line in f:
        print(line)

This is my file

This is my second line

This is the last line

In [92]:
f.close

Functions

In [93]:
def say_name():
    print('Ambica Dasari')

say_name()

Ambica Dasari

In [94]:
def double_the_number(num=1):
    return num*2

print(double_the_number())
print(double_the_number(2))

2
4

In [182]:
def data(*args):
    for arg in args:
        print(arg)
    print(args[1])
data(1,2,3,4,5)

1
2
3
4
5
2

In [96]:
def database(**kwargs):
    for value in kwargs.items():
        print(value)

database(name='Ambica',age='25',city='Hyderabad')

('name', 'Ambica')
('age', '25')
('city', 'Hyderabad')

In [97]:
def get_name(name):
    return name*3
print(get_name("Ambi"))

AmbiAmbiAmbi

Lambda function

In [98]:
add_lambda= lambda a,b: a+b
add_lambda(2,3)

5

Object Oriented Programming

In [102]:
print(type(1))
print(type([]))
print(type({}))
print(type(()))

<class 'int'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [104]:
class Dog(object):
    def __init__(self,breed):
        self.breed=breed

Bhidu=Dog('Golden Retriever')

In [109]:
class Circle(object):
    pi=3.14

    def __int__(self,radius=1):
        self.radius=radius
    def area(self):
        return self.radius*self.radius*Circle.pi
    
    def setRadius(self,radius):
        self.radius=radius
    def getRadius(self):
        return self.radius

c=Circle()
c.setRadius(4)
print(c.getRadius())
print(c.area())

4
50.24

In [ ]:
class Student:
    school_name='XYZ School'

    def __init__(self,name,age):
        self.name=name
        self.age=age

    def show(self):
        print(self.name, self.age, self.school_name)
    
    @classmethod
    def change_school_name(cls,name):
        cls.school_name=name

    @staticmethod
    def subjects(class_name):
        return ['sub_1', 'sub_2', 'sub_3']

In [165]:
ambica= Student('Ambica',25)
ambica.name
ambica.show()

Ambica 25 XYZ School

In [166]:
Student.change_school_name('ABC School',26)
ambica.show()

Ambica 25 XYZ School

In [156]:
ambica.subjects('Math')

'MathAmbica'

In [132]:
def square_root(a=9):
    return a**0.5
print(square_root())
print(square_root(25))

3.0
5.0

In [137]:
def function_tuple(a,b):
    return a+b, a*b
print(function_tuple(2,3))

(5, 6)

NumPy

In [171]:
import numpy as np
my_list=[1,2,3,4,5]
arr= np.array(my_list)
type(arr)
type(arr.dtype)
arr.shape

(5,)

Pandas

In [185]:
import pandas as pd
my_list=[10,20,30,40,50]
series=pd.Series(my_list)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [186]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [187]:
series.values

array([10, 20, 30, 40, 50], dtype=int64)

In [188]:
import numpy as np
import pandas as pd

index=['a','b','c','d','e']
arr=np.array([10,20,30,40,50])
series=pd.Series(data=arr,index=index)
series

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [190]:
d= {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
series=pd.Series(d)
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [192]:
import pandas as pd
s1= pd.Series([1,2,3,4], index=['India','Oman','USA','France'])
s2=pd.Series([1,2,3,4], index=['India', 'Oman', 'Singapore','France'])

print(s1+s2)

France       8.0
India        2.0
Oman         4.0
Singapore    NaN
USA          NaN
dtype: float64

In [193]:
import pandas as pd
import numpy as np

df= pd.DataFrame(([1,2,3], [4,5,6], [7,8,9]))
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [197]:
print(df.shape)
print(df.index)
print(df.columns)
print(df.values)
df.dtypes

(3, 3)
RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 [4 5 6]
 [7 8 9]]

0    int64
1    int64
2    int64
dtype: object

In [198]:
df= pd.DataFrame(([1,2,3], [4,5,6], [7,8,9]), index=['a','b','c'], columns=['d','e','f'])
df

   d  e  f
a  1  2  3
b  4  5  6
c  7  8  9

In [202]:
print(df.shape)
print(df.index)
print(df.columns)

df.dtypes

(3, 3)
Index(['a', 'b', 'c'], dtype='object')
Index(['d', 'e', 'f'], dtype='object')

d    int64
e    int64
f    int64
dtype: object

In [216]:
import pandas as pd
weather_df=pd.read_csv("A:/DE/weather_2012.csv")

print(weather_df.shape)
print(weather_df.index)

(8784, 8)
RangeIndex(start=0, stop=8784, step=1)

In [217]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [218]:
weather_df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [219]:
weather_df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [220]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [221]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [222]:
type(weather_df['Date/Time'].head())

pandas.core.series.Series

In [223]:
weather_df['Date/Time']= pd.to_datetime(weather_df['Date/Time'])
weather_df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [226]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [229]:
weather_df['Weather'].nunique()

50

In [232]:
weather_df['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [233]:
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [234]:
weather_df['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [ ]:
weather_df['Weather'].value_counts()['Clear']

1326

In [240]:
weather_df['Wind Spd (km/h)'].value_counts()[4]

474

In [241]:
col = weather_df['Weather']
print(type(col))
col.head()

<class 'pandas.core.series.Series'>

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

In [245]:
two_col =weather_df[['Weather','Temp (C)']]
print(type(two_col))
two_col.head()

<class 'pandas.core.frame.DataFrame'>

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

In [246]:
weather_df[:20]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain

In [ ]:
weather_df[0:6:2][['Weather','Temp (C)']] #not recommended with large datasets as slicing can duplicate data

                Weather  Temp (C)
0                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
4                   Fog      -1.5

In [ ]:
weather_df.loc[0:6:2][['Weather','Temp (C)']] #located based on label

                Weather  Temp (C)
0                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
4                   Fog      -1.5
6                   Fog      -1.5

In [ ]:
weather_df.iloc[0:6:2][['Weather','Temp (C)']] #located based on index

                Weather  Temp (C)
0                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
4                   Fog      -1.5

In [253]:
weather_df.loc[0:5:2][['Visibility (km)','Rel Hum (%)']]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

In [256]:
snowed_filter= weather_df['Weather'].str.lower().str.contains('snow')
weather_df[snowed_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [258]:
df= weather_df[(weather_df['Weather']=='Clear') & (weather_df['Visibility (km)']>40)]
df.head

<bound method NDFrame.head of                Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
351  2012-01-15 15:00:00     -15.4               -22.8           53
352  2012-01-15 16:00:00     -15.1               -22.8           52
425  2012-01-18 17:00:00     -11.3               -18.8           54
440  2012-01-19 08:00:00     -13.7               -18.4           68
441  2012-01-19 09:00:00     -12.7               -17.2           69
...                  ...       ...                 ...          ...
8384 2012-12-15 08:00:00     -10.7               -15.6           67
8385 2012-12-15 09:00:00     -10.4               -15.9           64
8389 2012-12-15 13:00:00      -8.4               -14.7           60
8631 2012-12-25 15:00:00      -7.1               -13.7           59
8632 2012-12-25 16:00:00      -7.5               -13.9           60

      Wind Spd (km/h)  Visibility (km)  Stn Press (kPa) Weather
351                24             48.3           102.71   Clear
352                24             48.3           102.79   Clear
425                26             48.3           101.54   Clear
440                19             48.3           101.84   Clear
441                17             48.3           101.73   Clear
...               ...              ...              ...     ...
8384               13             48.3           102.69   Clear
8385               19             48.3           102.74   Clear
8389               19             48.3           102.64   Clear
8631               17             48.3           101.98   Clear
8632               11             48.3           102.03   Clear

[313 rows x 8 columns]>

In [259]:
add_col=weather_df['Wind Spd (km/h)'] + 10
add_col.head()

0    14
1    14
2    17
3    16
4    17
Name: Wind Spd (km/h), dtype: int64

In [260]:
mult_col=weather_df['Wind Spd (km/h)'] *2
mult_col.head()

0     8
1     8
2    14
3    12
4    14
Name: Wind Spd (km/h), dtype: int64

In [ ]:
#ADDING/UPDATING columns
temperature= weather_df['Temp (C)'] + weather_df['Dew Point Temp (C)']
weather_df['new_temperature']= temperature
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,new_temperature
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

In [ ]:
#Applying custome functions
def power2(x):
    return x**2

t1=weather_df['Wind Spd (km/h)'].apply(power2)
t1.head()

0    16
1    16
2    49
3    36
4    49
Name: Wind Spd (km/h), dtype: int64

In [270]:
weather_df['Wind Spd (km/h)'].describe()

count    8784.000000
mean       14.945469
std         8.688696
min         0.000000
25%         9.000000
50%        13.000000
75%        20.000000
max        83.000000
Name: Wind Spd (km/h), dtype: float64

In [ ]:
#renaming columns
weather_df.rename(columns={'Visibility (km)': 'Visibility (kilometers)'}, inplace=True)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (kilometers),Stn Press (kPa),Weather,new_temperature
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-5.7
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-5.5
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-5.2
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-4.7
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-4.8

In [274]:
#deleting columns
weather_df=weather_df.drop(labels=['new_temperature'], axis=1)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (kilometers),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [275]:
#sort values
sorted_df=weather_df.sort_values(by=['Temp (C)'], ascending=False)
sorted_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (kilometers),Stn Press (kPa),Weather
4695,2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear
4696,2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear
4694,2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear

In [277]:
#top 10 hottest values and their counts
sorted_value=weather_df['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_value.iloc[:10]

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
0.4     41
1.3     40
14.6    39
Name: Temp (C), dtype: int64

In [279]:
import pandas as pd

data = {
    'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar'],
    'B': ['one', 'one', 'two', 'two', 'one', 'one', 'one'],
    'C': ['x', 'y', 'x', 'y', 'x', 'y', 'y'],
    'D': [1, 3, 2, 5, 4, 1, 1]
}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1
6  bar  one  y  1

In [280]:
import numpy as np

pivot_df = df.pivot_table(
    values='D',           # We want to aggregate the values of which column?
    index='A',            # We want to use which column as the new index?
    columns=['C'],        # We want to use the values of which column as the new columns? (optional)
    aggfunc=np.sum       # What aggregation function to use?
)

pivot_df

C    x  y
A
bar  4  7
foo  3  3

In [283]:
weather_df[['Temp (C)', 'Date/Time']]

      Temp (C)           Date/Time
0         -1.8 2012-01-01 00:00:00
1         -1.8 2012-01-01 01:00:00
2         -1.8 2012-01-01 02:00:00
3         -1.5 2012-01-01 03:00:00
4         -1.5 2012-01-01 04:00:00
...        ...                 ...
8779       0.1 2012-12-31 19:00:00
8780       0.2 2012-12-31 20:00:00
8781      -0.5 2012-12-31 21:00:00
8782      -0.2 2012-12-31 22:00:00
8783       0.0 2012-12-31 23:00:00

[8784 rows x 2 columns]

In [288]:
mean_temp=weather_df.pivot_table(values='Temp (C)', index=weather_df['Date/Time'].dt.month, aggfunc=np.mean)
mean_temp

            Temp (C)
Date/Time
1          -7.371505
2          -4.225000
3           3.121237
4           7.009306
5          16.237769
6          20.134028
7          22.790054
8          22.279301
9          16.484444
10         10.954973
11          0.931389
12         -3.306317

In [290]:
weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index

C:\Users\ambic\AppData\Local\Temp\ipykernel_45820\2104073801.py:1: FutureWarning: The operation <function mean at 0x00000186AE35AC10> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index

<bound method DataFrame.reset_index of             Temp (C)  Dew Point Temp (C)  Rel Hum (%)  Wind Spd (km/h)  \
Date/Time
1          -7.371505          -12.294758    68.383065        18.108871
2          -4.225000           -9.221695    68.956897        14.837644
3           3.121237           -3.488575    64.862903        14.514785
4           7.009306           -1.934583    56.150000        17.369444
5          16.237769            8.080780    61.760753        12.846774
6          20.134028           11.738056    60.643056        14.681944
7          22.790054           14.595430    62.017473        11.887097
8          22.279301           15.644758    67.943548        13.931452
9          16.484444           10.757917    71.165278        14.108333
10         10.954973            6.533468    75.731183        15.475806
11          0.931389           -4.179306    69.984722        13.973611
12         -3.306317           -6.129032    81.299731        17.614247

           Visibility (kilometers)  Stn Press (kPa)
Date/Time
1                        22.100269       101.005349
2                        25.182184       101.142414
3                        26.177957       101.335255
4                        31.777083       100.716833
5                        29.418548       101.057164
6                        32.104167       100.784222
7                        33.655108       100.828333
8                        30.192608       100.927097
9                        30.603472       101.087903
10                       25.111022       100.909368
11                       26.077083       101.658306
12                       19.733199       101.174409  >